/*!
 * Hearth Website Custom Formatting
 */
#mainLogo {
	width: 100%;
}

#ventImage01 {
	width: 100%;
	margin-top: -80px;
	margin-bottom: -80px;
}

#ventImage02 {
	width: 80%;
}

#stickerGiant {
	width:16%;
	margin-right: 42%;
	margin-left:42%;
}

#comfy {
	background-image: url("../img/home1.jpg");
	background-size: contain;
	background-repeat:no-repeat;
}

#smarter {
	background-image: url("../img/home2.jpg");
	background-size: contain;
	background-repeat:no-repeat;
}

@media only screen and (min-width:480px) {
	#comfy{
		background-size: 200%;
	}
	#smarter{
		background-size: 200%;
	}
}
@media only screen and (min-width:768px) {
	#comfy{
		background-size: 150%;
	}
	#smarter{
		background-size: 150%;
	}
}
@media only screen and (min-width:960px) {
	#comfy{
		background-size: 100%;
	}
	#smarter{
		background-size: 100%;
	}
}
@media only screen and (max-width:480px){
	/* styles for mobile browsers smaller than 480px; (iPhone) */
	#comfy{
		background-size: 250%;
	}
	#smarter{
		background-size: 250%;
	}
 }

.body-paragraph {
	text-align: left;
	/* width: 500px; */
}

.input-group {
    display: flex;
}
.email-input {
    width: 272px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.squared {
    border-radius: 0;
}

.image-section {
	position: relative;
	width: 100%;
}
.section-photo{
	width:100%;
}
.photo-header{
	position: absolute; 
	top: 50%; 
	left: 5%;
}