/*!
 * Hearth Website Custom Formatting
 */
#ventImage {
	width: 350px;
}

.icon-and-text {
	display: flex;
	margin: 10px;
	align-content: center;
}

.next-to-icon {
	text-align: left;
	width: 500px;
}

.icon-box {
	width: 10em;
	text-align: center;
}

.input-group {
    display: flex;
}
.email-input {
    width: 272px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
#demoCanvas {
	/*border:1px solid #000000;*/
}